

.especial{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: red;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
ul li a{
    
    color: rgb(20, 74, 189);
}
ul li .destacado{
    font-size: large;
    color: rgb(99, 155, 228);
}
ul>li>p{
    font-weight: bold;
}
ul .subrrayado{
    text-decoration: underline;
    font-size: 16px;
}
.color:hover{
    color:rgb(9, 77, 54) ;
    font-size: 20px;
    cursor: pointer;
}
.cambia:visited{
    color: blueviolet;
}