<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Entregable</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="contenedor">
            <div class="bloque1"></div>
            <div class="bloque2"></div>
            <div class="bloque3"></div>
        </div>
        <div class="contenedor1">
        <div class="bloque4"></div>
        <div class="bloque5"></div>
        <div class="bloque6"></div>
        <div class="bloque7"></div>
        </div>
    <div class="pie"></div>
    </body>
   
</html>        

